body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF5E1; /* Теплый бежевый */
  color: #2D3436;
  overflow-x: hidden;
}

/* Кнопка с жирной тенью как на твоем лендинге */
.pop-button {
  background: #FF5E78;
  border: 4px solid #2D3436;
  box-shadow: 6px 6px 0px #2D3436;
  transition: 0.1s;
}

.pop-button:active {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0px #2D3436;
}
